/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* mocha theme */
:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;

  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;

  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;

  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  user-select: none;
}

i {
  color: var(--lavender);
  margin-right: 4px;
}

html {
  line-height: initial;
}

body {
  color: var(--text);
  overflow: hidden;
}

body,
i,
span {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 12px;
}

html,
body,
#app {
  height: 100%;
}

#app {
  background: transparent;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 2px 0.5vw;
  white-space: nowrap;
  background: color-mix(in srgb, var(--base) 60%, transparent);
  border-radius: 0.3rem;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  align-items: baseline;
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px !important;
  display: flex;
  align-items: center;
  color: var(--text);
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: transparent;
  color: var(--text);
  margin-right: 4px;
  padding: 4px 8px;
  line-height: normal;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;

  &.displayed {
    background: var(--surface1) !important;
  }

  &.focused {
    background: var(--surface0);
    color: var(--lavender);
  }

  &:hover {
    background: var(--surface1);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: var(--surface0);
  color: var(--lavender);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: var(--red);
}

.battery {
  position: relative;
  background: var(--surface0);
  color: var(--yellow);
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.clock {
  display: flex;
  color: var(--green);
  padding: 0 8px;
}

.clock > i {
  color: var(--green);
}

.active-app {
  padding-left: 1.5em;
}

.active-app-icons .nf {
  color: var(--font-color) !important;
  margin-right: 0.5em;
}
